.page-container {
  margin: 0 auto;
  width: 304px;
  margin-top: 174px;
  background-color: #1f1f1f;
  padding: 40px;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .page-container {
    width: 279px;
    padding: 24px;
  }
}
