.user-information-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  &__name {
    font-weight: 500;
    font-size: 24px;
    margin-top: 28px;
    margin-bottom: 8px;
  }
  &__country {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    color: #c4f82a;
  }

  &__jobTitle {
    margin: 28px 0;
    font-size: 14px;
    line-height: 150%;
  }
}
